---
import { Picture } from "astro:assets";
import heroImage from "assets/moviewitcher.avif";
import Link from "@components/ui/link.astro";
import { Icon } from "astro-icon/components";
---

<main class="grid lg:grid-cols-2 place-items-center pt-16 pb-8 md:pt-12 md:pb-24">
  <div class="py-6 md:order-1 md:block">
    <Picture
      src={heroImage}
      alt="Astronaut in the air"
      widths={[200, 400, 600]}
      sizes="(max-width: 800px) 100vw, 620px"
      loading="eager"
      format="avif"
    />
  </div>
  <div>
    <h1 class="text-5xl lg:text-6xl xl:text-7xl font-bold lg:tracking-tight xl:tracking-tighter">Movie Witcher / موفي ويتشر </h1>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">At moviewitcher Watch all foreign movies and series for free and without viewing limits.</p>
    <p class="text-lg mt-4 text-slate-600 max-w-xl">شاهد جميع الأفلام والمسلسلات الأجنبية مجانا وبدون حدود للمشاهدة <strong>(متوفر فقط للأندويد)</strong></p>
    <div class="mt-6 flex flex-col sm:flex-row gap-3">
      <Link
        href="#"
        href="https://web3templates.com/templates/astroship-starter-website-template-for-astro"
        target="_blank"
        class="flex gap-1 items-center justify-center"
        rel="noopener">
        <Icon class="text-white w-5 h-5" name="bx:bxs-cloud-download" />

         Download for Free
      </Link>
      <Link
        size="lg"
        style="outline"
        rel="noopener"
        href="https://github.com/surjithctly/astroship"
        class="flex gap-1 items-center justify-center"
        target="_blank">
        <Icon class="text-black w-4 h-4" name="bx:bxl-github" />
         GitHub Repo
      </Link>
    </div>
  </div>
<!-- ===== Hero Start ===== -->
<section id="home">
      <div class="af cf ef xj zj de ag la 2xl:ud-mx-[60px] og cn" bis_skin_checked="1">
        <div class="a" bis_skin_checked="1">
          <div class="lb od qd ia" bis_skin_checked="1">
            <div class="fc hm/2 nf" bis_skin_checked="1">
              <div class="_a ul zc wow fadeInUp" data-wow-delay=".2s" style="visibility: visible; animation-delay: 0.2s;" bis_skin_checked="1">
                <h1 class="kh qh _j dh il oh ll na">
                  Tailwind CSS Template for
                  <span class="lh">Apps and Software</span>
                </h1>
                <p class="kh _g ph ab">
                  All in one Tailwind CSS site template for - App and Software
                  sites. Comes with all essential components, clean design and
                  everything you can expect from a complete app landing page.
                </p>
                <div class="lb qd" bis_skin_checked="1">
                  <a href="#about" class="_g lh rh te be sf dg ii aj bb">
                    Explore
                  </a>

                  <a href="javascript:void(0)" class="lb qd lh _g qh _j yi ck gj ii glightbox">
                    <span class="pc zb ae mb qd sd te xe sh pa ii hj jj">
                      <svg width="15" height="18" viewBox="0 0 15 18" class="ff">
                        <path d="M15 9L-8.15666e-07 17.6603L-5.85622e-08 0.339746L15 9Z"></path>
                      </svg>
                    </span>
                    Watch Intro
                  </a>
                </div>
              </div>
            </div>
            <div class="fc hm/2 nf" bis_skin_checked="1">
              <div class="zg e ea _b wow fadeInUp" data-wow-delay=".25s" style="visibility: visible; animation-delay: 0.25s;" bis_skin_checked="1">
                <img src="https://app-tailwind.preview.uideck.com/src/images/hero/hero-image-2.svg" alt="hero-image" class="tc ka">
                <span class="d fa i/2 t/2 hd/2 gd/2 _c fc rb re sj ye wj zh ae">
                </span>
                <span class="d fa i/2 t/2 hd/2 gd/2 ad fc ac re sj ye wj zh ae">
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
<!-- ===== Hero end ===== -->
</main>
